<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>404 | Roommate Match</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="centered">
        <h2 class="ui huge icon header">
            <i class="meh icon"></i>
            <div class="content">
                404
                <div class="sub small header">This page could be funnier if it were real...</div>
            </div>
        </h2>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script src="/scripts/script.js"></script>

</html>