<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Roomate Best Match</title>
</head>

<body>
    <div class="ui top menu">
        <div class="header item">
            Roomate best matchs
        </div>
    </div>
    <div class="ui container segment">
        <form class="ui form">
            <h4 class="ui dividing header">Personal Information</h4>
            <div class="field">
                <div class="three fields">
                    <div class="five wide field">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="eg. Andrew Gray">
                    </div>
                    <div class="four wide field">
                        <label>Date of birth</label>
                        <input type="date" name="dob" placeholder="date">
                    </div>
                    <div class="four wide field">
                        <label>Sex</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="sex">
                            <div class="default text">Sex</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="male">
                                    <i class="mars icon"></i> Male</div>
                                <div class="item" data-value="female">
                                    <i class="venus icon"></i>Female</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="two fields">
                    <div class="five wide field">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="eg. gray.andrew@utech.edu.jm">
                    </div>
                    <div class="four wide field">
                        <label>Phone #</label>
                        <input type="text" name="phone" placeholder="eg. 876-123-4567">
                    </div>
                </div>
                <div class="thirteen wide field">
                    <label>Address</label>
                    <input type="text" name="address" placeholder="eg. Lot 32B manatee close, manley meadows, kingston 2">
                </div>
                <div class="four wide field">
                    <label>Personality</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="personality">
                        <div class="default text">Personality</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="Architect">Architect</div>
                            <div class="item" data-value="Logician">Logician</div>
                            <div class="item" data-value="Commander">Commander</div>
                            <div class="item" data-value="Debater">Debater</div>
                            <div class="item" data-value="Advocate">Advocate</div>
                            <div class="item" data-value="Mediator">Mediator</div>
                            <div class="item" data-value="Protagonist">Protagonist</div>
                            <div class="item" data-value="Campaigner">Campaigner</div>
                            <div class="item" data-value="Logistician">Logistician</div>
                            <div class="item" data-value="Defender">Defender</div>
                            <div class="item" data-value="Executive">Executive</div>
                            <div class="item" data-value="Consul">Consul</div>
                            <div class="item" data-value="Virtuoso">Virtuoso</div>
                            <div class="item" data-value="Adventurer">Adventurer</div>
                            <div class="item" data-value="Entrepeneur">Entrepeneur</div>
                            <div class="item" data-value="Entertainer">Entertainer</div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="ui dividing header">Preferences</h4>
            <div class="grouped fields">
                <label for="bedtime">1. Normal sleep cycle</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="bedtime" tabindex="0" class="hidden" type="radio" value="1">
                        <label>10 PM or earlier</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="bedtime" tabindex="0" class="hidden" type="radio" value="2">
                        <label>between 10 PM and midnight</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="bedtime" tabindex="0" class="hidden" type="radio" value="3">
                        <label>Around midnight</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="bedtime" tabindex="0" class="hidden" type="radio" value="4">
                        <label>2 AM or later</label>
                    </div>
                </div>
            </div>
            <div class="grouped fields">
                <label for="allnighter">2. Work pressure sleep cycle</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="allnighter" tabindex="0" class="hidden" type="radio" value="1">
                        <label>Several nights per week</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="allnighter" tabindex="0" class="hidden" type="radio" value="2">
                        <label>Once a week</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="allnighter" tabindex="0" class="hidden" type="radio" value="3">
                        <label>Once a month</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="allnighter" tabindex="0" class="hidden" type="radio" value="4">
                        <label>Almost never</label>
                    </div>
                </div>
            </div>
            <div class="grouped fields">
                <label for="workspace">3. Prefered work space</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="workspace" tabindex="0" class="hidden" type="radio" value="1">
                        <label>At their desk</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="workspace" tabindex="0" class="hidden" type="radio" value="2">
                        <label>In the library</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="workspace" tabindex="0" class="hidden" type="radio" value="3">
                        <label>In a study lounge or similar space</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="workspace" tabindex="0" class="hidden" type="radio" value="4">
                        <label>I don’t really do work</label>
                    </div>
                </div>
            </div>
            <div class="grouped fields">
                <label for="smoker">4. Smokes?</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="smoker" tabindex="0" class="hidden" type="radio" value="1">
                        <label>Yes</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="smoker" tabindex="0" class="hidden" type="radio" value="2">
                        <label>No</label>
                    </div>
                </div>
            </div>
            <div class="grouped fields">
                <label for="drinker">5. Drinks?</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="drinker" tabindex="0" class="hidden" type="radio" value="1">
                        <label>Yes</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="drinker" tabindex="0" class="hidden" type="radio" value="2">
                        <label>No</label>
                    </div>
                </div>
            </div>
            <div class="grouped fields">
                <label for="social">6. Social</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="social" tabindex="0" class="hidden" type="radio" value="1">
                        <label>like to have people over</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="social" tabindex="0" class="hidden" type="radio" value="2">
                        <label>like to go over out</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="social" tabindex="0" class="hidden" type="radio" value="3">
                        <label>50/50</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="social" tabindex="0" class="hidden" type="radio" value="4">
                        <label>Don't socialise</label>
                    </div>
                </div>
            </div>
            <div class="grouped fields">
                <label for="househabits">7. House habits</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="househabits" tabindex="0" class="hidden" type="radio" value="1">
                        <label>OCD</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="househabits" tabindex="0" class="hidden" type="radio" value="2">
                        <label>Clean</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="househabits" tabindex="0" class="hidden" type="radio" value="3">
                        <label>Slightly disorganized</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="househabits" tabindex="0" class="hidden" type="radio" value="4">
                        <label>Messy</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="househabits" tabindex="0" class="hidden" type="radio" value="5">
                        <label>Extremely messy</label>
                    </div>
                </div>
            </div>
            <div class="grouped fields">
                <label for="roommate">8. Prefered Roomate</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="roommate" tabindex="0" class="hidden" type="radio" value="1">
                        <label>Long term friendship</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="roommate" tabindex="0" class="hidden" type="radio" value="2">
                        <label>Aquantancies</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="roommate" tabindex="0" class="hidden" type="radio" value="3">
                        <label>Not interested in friendship</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="roommate" tabindex="0" class="hidden" type="radio" value="4">
                        <label>Don't need to interact</label>
                    </div>
                </div>
            </div>
            <div class="ui submit button">Submit</div>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script src="/scripts/script.js"></script>

</html>