<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Complete</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/stylesheet.css" />
    <script src="/scripts/script.js"></script>
</head>

<body>
    <div class="ui segment" id="headr">
        <a href="/home"> <img class="ui fluid image" src="/imgs/roomatehead.jpg"> </a>
    </div>

     <br> <br> <br>
    <div class="ui center aligned segment" style="color: red">
        <h5> <p>THANK YOU FOR REGISTERING!</p> 
            <p>Your best match await you</p>
        </h5>
        <div class="ui red button">PROCEED</div>
    </div>

<br>
    <footer>Copyright &copy 2018. All Rights Reserved</footer>
</body>

</html>