<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Roomate Best Match</title>
</head>

<body>
    <div class="ui red four item inverted flat menu">
        <a class="icon settings item">
            <i class="cogs large icon"></i>
        </a>
        <!--<a class="icon generate item">
            <i class="sync icon"></i> Generate Match
        </a>-->
        <div class="item">
            <div class="ui red generate button" id="generateBtn">
                <i class="sync  icon" id="generateIcon"></i> Generate Match
            </div>
        </div>
        <div class="item">
            <div class="ui red records button" id="recordsBtn">
                <i class="history icon" id="recordsIcon"></i> Match Records
            </div>
        </div>
        <div class="right menu">
            <a class="ui item" href="/logout">
                Logout
            </a>
        </div>
    </div>
    <div class="ui container raised segment">
        <h4 class="ui horizontal divider green header">
            <i class="bar chart icon"></i>
            Best Fit Matches
        </h4>
        <!--No matches available message-->
        <div class="ui warning message" id="matchMessage">
            <div class="header">
                There doesn't seem to be any matches
            </div>
            Please click the generate match button to generate. Note, that you can filter matches from the settings section.
        </div>
        <!--Show all matches in a table-->
        <div id="matchTable"></div>
        <div class="ui relaxed divided list">
            
        </div>


    </div>
    <div class="ui tiny settings modal">
        <div class="header">Settings</div>
        <div class="content">
            <div class="description">
                <div class="ui form">
                    <div class="inline fields">

                        <label>Name</label>
                        <div class="ui selection user dropdown" id="userList">
                            <input type="hidden" name="user" id="user">
                            <i class="dropdown icon"></i>
                            <i class="remove icon"></i>
                            <div class="default text">Load users to select</div>
                            <div class="menu">
                            </div>
                        </div>
                        <div class="ui red icon button" id="loadUsers">
                            <i class="sync icon"></i>
                        </div>
                    </div>
                    <div class="inline field">
                        <label>Sex</label>
                        <div class="ui sex male checkbox">
                            <input type="checkbox" class="hidden" name="male" id="male">
                            <label>Male</label>
                        </div>
                        <div class="ui sex female checkbox">
                            <input type="checkbox" class="hidden" name="female" id="female">
                            <label>female</label>
                        </div>
                    </div>
                    <div class="field">
                        <label>Hall Residence</label>
                        <div class="ui multiple search selection dropdown">
                            <input type="hidden" name="hall" id="hall">
                            <div class="default text">Hall Residence</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="A">Hall A</div>
                                <div class="item" data-value="B">Hall B</div>
                                <div class="item" data-value="E">Hall E</div>
                                <div class="item" data-value="F">Hall F</div>
                            </div>
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="field">
                            <label>Personality</label>
                            <div class="ui mulitiple selection personality dropdown" id="personalityList">
                                <input type="hidden" name="personality" id="personality">
                                <div class="default text">Personality</div>
                                <i class="dropdown icon"></i>

                                <i class="remove icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="INTJ">Architect</div>
                                    <div class="item" data-value="INTP">Logician</div>
                                    <div class="item" data-value="ENTJ">Commander</div>
                                    <div class="item" data-value="ENTP">Debater</div>
                                    <div class="item" data-value="INFJ">Advocate</div>
                                    <div class="item" data-value="INFP">Mediator</div>
                                    <div class="item" data-value="ENFJ">Protagonist</div>
                                    <div class="item" data-value="ENFP">Campaigner</div>
                                    <div class="item" data-value="ISTJ">Logistician</div>
                                    <div class="item" data-value="ISFJ">Defender</div>
                                    <div class="item" data-value="ESTJ">Executive</div>
                                    <div class="item" data-value="ESFJ">Consul</div>
                                    <div class="item" data-value="ISTP">Virtuoso</div>
                                    <div class="item" data-value="ISFP">Adventurer</div>
                                    <div class="item" data-value="ESTP">Entrepeneur</div>
                                    <div class="item" data-value="ESFP">Entertainer</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button">Save</div>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script src="/scripts/adminScript.js"></script>


</html>