<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Room Harmony</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
	<link rel="stylesheet" href="/styles/stylesheet.css">
	<link rel="stylesheet" href="/styles/indexStyle.css">
</head>

<body>
	<div class="ui red inverted mini borderless flat top menu">
		<!--<div class="item">
			<img src="/img">
		</div>-->
		<div class="right menu">
			<div class="ui right aligned item">
				<a class="ui red icon button" href="/login">
					<i class="sign in alternate icon"></i> Sign in
				</a>
			</div>
		</div>
	</div>
	</div>
	<div class="banner-image">
		<div class="ui center aligned grid container">
			<div class="row">
				<div class="ui basic segment">
					<div class="ui flat compact message">
						<div id="inner">
							<div class="header">
								<h1>ROOMMATE</h1>
							</div>
							<h2>MATCHING MAGIC</h2>
							<div class="ui custom divider" id="vider"></div>
							<h4>College Roomate Matching Service</h4>
							<h5>A School of Computing and Information Technology Major project. Here to help you find the best fit person to share
								a room with.</h5>
						</div>
					</div>
					<!--<div id="rect">
						<div id="inner">
							<h1 class="ui huge header"> ROOMMATE </h1>
							<h2 class="ui large header"> MATCHING MAGIC </h2>
							<hr id="vider">
							<h5 class="ui small header"> College Roomate Matching Service </h5>
						</div>
					</div>-->
				</div>
			</div>
			<div class="row">
				<button class="ui large circular red invereted icon button" data-content="Find out more" data-offset="50">
					<i class="icon help"></i>
				</button>
				<div class="ui labeled button" tabindex="0">
					<a class="ui red button" href="/register">
						<i class="users icon"></i> Sign up
					</a>
					<div class="ui basic red left pointing label">
						1,048
					</div>
				</div>
			</div>

		</div>
	</div>

	<footer>School of Computing and Information Technology Major Project 2018. Roommate Matching.</footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script src="/scripts/main.js"></script>

</html>