<!DOCTYPE html>
<html>

<head>
	<title>Register</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
	<link rel="stylesheet" href="/styles/stylesheet.css">
	<link rel="stylesheet" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body id="register">
	<div class="ui segment" id="headr">
		<img class="ui fluid image" src="/imgs/roomatehead.jpg">
	</div>
	<div class="ui pointing secondary container menu">
		<a class="active personal item" data-tab="personal">Personal Details</a>
		<a class="characteristics item disabled" data-tab="characteristics">Characteristics</a>
		<a class="terms item disabled" data-tab="terms">Terms & Agreements</a>
		<a class="complete item disabled" data-tab="complete">Complete</a>
	</div>
	<form class="ui form">
		<div class="ui active tab" data-tab="personal">
			<div class="field">
				<div class="three fields">
					<div class="five wide field">
						<label>Name</label>
						<input type="text" name="name" placeholder="eg. Andrew Gray">
					</div>
					<div class="four wide field">
						<label>Date of birth</label>
						<input type="date" name="dob" placeholder="date">
					</div>
					<div class="four wide field">
						<label>Sex</label>
						<div class="ui selection dropdown">
							<input type="hidden" name="sex">
							<div class="default text">Sex</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="male">
									<i class="mars icon"></i> Male</div>
								<div class="item" data-value="female">
									<i class="venus icon"></i>Female</div>
							</div>
						</div>
					</div>
				</div>

				<div class="two fields">
					<div class="five wide field">
						<label>Email</label>
						<input type="text" name="email" placeholder="eg. gray.andrew@utech.edu.jm">
					</div>
					<div class="four wide field">
						<label>Phone #</label>
						<input type="text" name="phone" placeholder="eg. 876-123-4567">
					</div>
				</div>
				<div class="thirteen wide field">
					<label>Address</label>
					<input type="text" name="address" placeholder="eg. Lot 32B manatee close, manley meadows, kingston 2">
				</div>
				<div class="four wide field">
					<label>Personality</label>
					<div class="ui selection dropdown">
						<input type="hidden" name="personality">
						<div class="default text">Personality</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="Architect">Architect</div>
							<div class="item" data-value="Logician">Logician</div>
							<div class="item" data-value="Commander">Commander</div>
							<div class="item" data-value="Debater">Debater</div>
							<div class="item" data-value="Advocate">Advocate</div>
							<div class="item" data-value="Mediator">Mediator</div>
							<div class="item" data-value="Protagonist">Protagonist</div>
							<div class="item" data-value="Campaigner">Campaigner</div>
							<div class="item" data-value="Logistician">Logistician</div>
							<div class="item" data-value="Defender">Defender</div>
							<div class="item" data-value="Executive">Executive</div>
							<div class="item" data-value="Consul">Consul</div>
							<div class="item" data-value="Virtuoso">Virtuoso</div>
							<div class="item" data-value="Adventurer">Adventurer</div>
							<div class="item" data-value="Entrepeneur">Entrepeneur</div>
							<div class="item" data-value="Entertainer">Entertainer</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui divider"></div>
			<div class="ui inverted red next button" data-tab="characteristics">NEXT</div>
		</div>
		<div class="ui tab" data-tab="characteristics">
			<div class="field">
				<div class="grouped fields">
					<label for="peoplePerson">1. I am a people person and love to have many friends visiting.</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="peoplePerson" tabindex="0" class="hidden" type="radio" value="1">
							<label>Strong Agree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="peoplePerson" tabindex="0" class="hidden" type="radio" value="2">
							<label>Agree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="peoplePerson" tabindex="0" class="hidden" type="radio" value="3">
							<label>Indecisive</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="peoplePerson" tabindex="0" class="hidden" type="radio" value="4">
							<label>Disagree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="peoplePerson" tabindex="0" class="hidden" type="radio" value="4">
							<label>Strongly Disagree</label>
						</div>
					</div>
				</div>
				<div class="grouped fields">
					<label for="visitorFrequency">2. How often do you plan to invite visitors to your room</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorFrequency" tabindex="0" class="hidden" type="radio" value="1">
							<label>Once per week</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorFrequency" tabindex="0" class="hidden" type="radio" value="2">
							<label>Twice per week</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorFrequency" tabindex="0" class="hidden" type="radio" value="3">
							<label>Three or more times per week</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorFrequency" tabindex="0" class="hidden" type="radio" value="4">
							<label>I don't plan to have people over</label>
						</div>
					</div>
				</div>
				<div class="grouped fields">
					<label for="visitorNotification">3. Is it important that we notify each other when having a visitor</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorNotification" tabindex="0" class="hidden" type="radio" value="1">
							<label>Very Important</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorNotification" tabindex="0" class="hidden" type="radio" value="2">
							<label>Important</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorNotification" tabindex="0" class="hidden" type="radio" value="3">
							<label>Indecisive</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorNotification" tabindex="0" class="hidden" type="radio" value="4">
							<label>Unimportant</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorNotification" tabindex="0" class="hidden" type="radio" value="4">
							<label>Very Unimportant</label>
						</div>
					</div>
				</div>
				<div class="grouped fields">
					<label for="romanticVisitor">4. Do you usually tend to have friends/romantic interests back to you room, or do you go to their room?</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="romanticVisitor" tabindex="0" class="hidden" type="radio" value="1">
							<label>I rather people coming to my room</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorFrequency" tabindex="0" class="hidden" type="radio" value="2">
							<label>50/50</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="visitorFrequency" tabindex="0" class="hidden" type="radio" value="2">
							<label>I don’t have friends or romantic interests.</label>
						</div>
					</div>
				</div>
				<div class="grouped fields">
					<label for="videoCalling">5. I anticipate being in a long-distance relationship that may entail hours of Skyping and weekend-long visits?</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="videoCalling" tabindex="0" class="hidden" type="radio" value="1">
							<label>Strongly Agree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="videoCalling" tabindex="0" class="hidden" type="radio" value="2">
							<label>Agree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="videoCalling" tabindex="0" class="hidden" type="radio" value="2">
							<label>Indecisive</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="videoCalling" tabindex="0" class="hidden" type="radio" value="2">
							<label>Disagree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="videoCalling" tabindex="0" class="hidden" type="radio" value="2">
							<label>Strongly Disagree</label>
						</div>
					</div>
				</div>
				<div class="grouped fields">
					<label for="roomOrganization">6. How would you describe your room?</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="roomOrganization" tabindex="0" class="hidden" type="radio" value="1">
							<label>Undiagnosed OCD. Everything has its place/label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="roomOrganization" tabindex="0" class="hidden" type="radio" value="2">
							<label> Neat but I’m not too obsessive</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="roomOrganization" tabindex="0" class="hidden" type="radio" value="3">
							<label> Slightly disorganized</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="roomOrganization" tabindex="0" class="hidden" type="radio" value="4">
							<label> Pretty messy but not terrible</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="roomOrganization" tabindex="0" class="hidden" type="radio" value="4">
							<label> I'm a hot mess. It’s bad</label>
						</div>
					</div>
				</div>
				<div class="grouped fields">
					<label for="cleanliness">7. I am responsible and clean up after myself, I rather doing it on my own, a maid is not necessary.</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="cleanliness" tabindex="0" class="hidden" type="radio" value="1">
							<label>Strongly Agree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="cleanliness" tabindex="0" class="hidden" type="radio" value="2">
							<label>Agree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="cleanliness" tabindex="0" class="hidden" type="radio" value="3">
							<label>Indecisive</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="cleanliness" tabindex="0" class="hidden" type="radio" value="4">
							<label>Disagree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="cleanliness" tabindex="0" class="hidden" type="radio" value="5">
							<label>Strongly Disagree</label>
						</div>
					</div>
				</div>
				<div class="grouped fields">
					<label for="chores">8. I believe that household chores</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="chores" tabindex="0" class="hidden" type="radio" value="1">
							<label>Should be assigned</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="chores" tabindex="0" class="hidden" type="radio" value="2">
							<label>Should be done mutually</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="chores" tabindex="0" class="hidden" type="radio" value="3">
							<label>Should be done by whoever thinks to do them</label>
						</div>
					</div>
				</div>
				<div class="grouped fields">
					<label for="borrowing">9. My roommate is allowed to borrow books/music/ other items without asking</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="borrowing" tabindex="0" class="hidden" type="radio" value="1">
							<label>Strongly Agree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="borrowing" tabindex="0" class="hidden" type="radio" value="2">
							<label>Agree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="borrowing" tabindex="0" class="hidden" type="radio" value="3">
							<label>Indecisive</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="borrowing" tabindex="0" class="hidden" type="radio" value="4">
							<label>Disagree</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="borrowing" tabindex="0" class="hidden" type="radio" value="5">
							<label>Strongly Disagree</label>
						</div>
					</div>
				</div>
			</div>
			<div class="grouped fields">
				<label for="privacy">10. Respecting another’s privacy is?</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="visitorNotification" tabindex="0" class="hidden" type="radio" value="1">
						<label>Very Important</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="privacy" tabindex="0" class="hidden" type="radio" value="2">
						<label>Important</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="privacy" tabindex="0" class="hidden" type="radio" value="3">
						<label>Indecisive</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="privacy" tabindex="0" class="hidden" type="radio" value="4">
						<label>Unimportant</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="privacy" tabindex="0" class="hidden" type="radio" value="4">
						<label>Very Unimportant</label>
					</div>
				</div>
			</div>
			<div class="grouped fields">
				<label for="space">11. Respecting another’s space is?</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="visitorNotification" tabindex="0" class="hidden" type="radio" value="1">
						<label>Very Important</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="space" tabindex="0" class="hidden" type="radio" value="2">
						<label>Important</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="space" tabindex="0" class="hidden" type="radio" value="3">
						<label>Indecisive</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="space" tabindex="0" class="hidden" type="radio" value="4">
						<label>Unimportant</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="space" tabindex="0" class="hidden" type="radio" value="4">
						<label>Very Unimportant</label>
					</div>
				</div>
			</div>

			<div class="grouped fields">
				<label for="activeTime">12. I am more active and tend to get more tasks done in the?</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="activeTime" tabindex="0" class="hidden" type="radio" value="1">
						<label>Morning</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="activeTime" tabindex="0" class="hidden" type="radio" value="1">
						<label>Evening</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="activeTime" tabindex="0" class="hidden" type="radio" value="2">
						<label>Night</label>
					</div>
				</div>
			</div>
			<div class="grouped fields">
				<label for="lightOut">13. When sleeping my lights must be turned off.</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="lightOut" tabindex="0" class="hidden" type="radio" value="1">
						<label>Strongly Agree</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="lightOut" tabindex="0" class="hidden" type="radio" value="2">
						<label>Agree</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="lightOut" tabindex="0" class="hidden" type="radio" value="3">
						<label>Indecisive</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="lightOut" tabindex="0" class="hidden" type="radio" value="4">
						<label>Disagree</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="lightOut" tabindex="0" class="hidden" type="radio" value="5">
						<label>Strongly Disagree</label>
					</div>
				</div>
			</div>
			<div class="grouped fields">
				<label for="music">14. I enjoy listening to music when it is?</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="music" tabindex="0" class="hidden" type="radio" value="1">
						<label>Played loudly</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="music" tabindex="0" class="hidden" type="radio" value="2">
						<label>Played softly</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="music" tabindex="0" class="hidden" type="radio" value="3">
						<label>Played in my earphone or headphone</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="music" tabindex="0" class="hidden" type="radio" value="3">
						<label>i don't enjoy listening to music</label>
					</div>
				</div>
			</div>
			<div class="grouped fields">
				<label for="studyEnvi">15. While studying I prefer.</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyEnvi" tabindex="0" class="hidden" type="radio" value="1">
						<label>A quiet environment</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyEnvi" tabindex="0" class="hidden" type="radio" value="2">
						<label>Listening to music</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyEnvi" tabindex="0" class="hidden" type="radio" value="3">
						<label>Watching television</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyEnvi" tabindex="0" class="hidden" type="radio" value="4">
						<label>It does not matter</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyEnvi" tabindex="0" class="hidden" type="radio" value="5">
						<label>I do not study</label>
					</div>
				</div>
			</div>

			<div class="grouped fields">
				<label for="studyLocation">16. Where do you prefer to study?</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyLocation" tabindex="0" class="hidden" type="radio" value="1">
						<label>My room</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyLocation" tabindex="0" class="hidden" type="radio" value="2">
						<label>The library</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyLocation" tabindex="0" class="hidden" type="radio" value="3">
						<label>A designated studying area</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyEnvi" tabindex="0" class="hidden" type="radio" value="4">
						<label>It does not matter</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="studyEnvi" tabindex="0" class="hidden" type="radio" value="5">
						<label>I do not study</label>
					</div>
				</div>
			</div>

			<div class="grouped fields">
				<label for="expectation">17. What are you hoping for in a roomate?</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="expectation" tabindex="0" class="hidden" type="radio" value="1">
						<label>A long lasting friendship</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="expectation" tabindex="0" class="hidden" type="radio" value="2">
						<label>If we get along, great; if not, we can just avoid each other.</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input name="expectation" tabindex="0" class="hidden" type="radio" value="3">
						<label>I don't care about being friends</label>
					</div>
				</div>
			</div>

			<div class="ui divider"></div>

			<div class="ui buttons">
				<div class="ui inverted red back button" data-tab="personal">Back</div>
				<div class="ui inverted red next button" data-tab="terms">NEXT</div>
			</div>
		</div>
		<div class="ui tab" data-tab="terms">
			<div class="ui message">
				<div class="header">
					Roommate Sync asks for
				</div>
				<ul class="list">
					<li>
						<strong>Contact Information</strong> so we can allow your matches or external placement agencies to contact you.</li>
					<li>
						<strong>Personal Details</strong>, which are kept secured and will only be used to generate best matches.</li>
					<li>
						<strong>Honesty</strong>, the accuracy of your Information is important. Please try your best to select options that best match
						your view</li>
				</ul>
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input tabindex="0" class="hidden" name="terms" type="checkbox" value="agree">
					<label>I agree to the Terms and Conditions</label>
				</div>
			</div>
			<div class="ui divider"></div>

			<div class="ui buttons">
				<div class="ui inverted red back button" data-tab="characteristics">Back</div>
				<div class="ui positive submit button">Complete</div>
			</div>
			<div class="ui error message"></div>
		</div>
		<div class="ui tab" data-tab="complete">
			<div class="ui divider"></div>
		</div>
	</form>
	<h5 class="ui dividing header"></h5>
	<footer>School of Computing and Information Technology Major Project 2018. Roommate Matching.</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script src="/scripts/script.js"></script>

</html>