<!DOCTYPE html>
<html>
<head>
	<title>Terms & Agreements</title>
	<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
		<link rel="stylesheet" href="stylesheet.css">
</head>
<body>
	<div class="ui segment" id="headr"> 
		<img class="ui fluid image" src="roomatehead.jpg">
	</div>

	<div class="ui secondary pointing menu">
		<a class="item" href="register.html"> Personal Details </a>
		<a class="item" href="characteristics.html"> Characteristics </a>
	  	<a href="preferences.html" class="item"> Preferences </a>
	  	<a href="terms.html" class="item active"> Terms & Agreements </a>
  	<div class="right menu">
	    <a href="home.html" class="ui item"> Home </a>
 	</div>
 </div>

 	<form class="ui form">
 		<h5 class="ui dividing header">Terms & Agreements</h5>
 		<div>
 			<p>Roommate Sync asks for <b>contact information</b> so we can allow your matches to contact you.
 			Please note that all <b>personal details</b> will be shared except for <b>address information</b>.
			Other information is only used to find your matching purposes and is encrypted.</p>
 		</div><br><br>
 		<div class="ui checkbox">
		  <input type="checkbox">
			  <label><i>By clicking this you agree to the above Terms & Condition</i></label>
		</div>
 		<br><br>
		<a href="preferences.html">
			<div class="ui button" >PREVIOUS</div>
		</a>
 		<a href="#">
			<div class="ui disabled red button" >GET MATCHED</div>
		</a>
 	</form>

	<footer>Copyright &copy 2018. All Rights Reserved</footer>

</body>
</html>