/*h1 {
	font-size: 5em;
	font-weight: bolder;
	letter-spacing: 4px;
}
/*h2{
	font-size: 3em;
	font-weight:  bold;
	letter-spacing: 2px;
}
h5{
	font-size: 1.7em;
	font-weight: lighter;
	letter-spacing: 1px;
}*/
#rect{
	background-color: red;
	opacity: 0.75;
	padding: 5%;
}
#inner{
	border-style: solid;
	color: white
}
#vider{
	width: 85%;
	border-style: solid;
}
footer{
	position: absolute;
  bottom: 0;
  width: 100%;
	background-color: #1d2733;
	color: red;
	padding: 2%;
	font-size: 1.2em;
	text-align:center;
}
